/node_modules/
/bin/env.sh
/logs
/resources/test
/resources/.ssl
/resources/config.edn
/resources/data
/resources/reports
/resources/public/js
/resources/public/css

.gemini
.mcp.json
.obsidian

.clj-kondo/metosin
.clj-kondo/rewrite-clj
.clj-kondo/.cache
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.hgignore
.hg/
.cpcache
.lsp
.dir-locals.el
.clj-kondo
.vimrc
.vim
.tern-project
.coc-settings.json
coc-settings.json
tags
tags.lock
tags.temp
